#content{
    width: 900px;
    padding-top: 50px;
    margin-right: auto;
    margin-left: auto;
}

#content .first-content h1 {
    font-size:47px;
    color:#83CF47;
    margin-bottom: 0px;
}
#content .first-content h2 {
    color: #AFAF9F;
    margin-top: 7px;
    font-weight: lighter;
}
#content .img-content img {
    float:right;
}
#content .second-content {
    padding-top:45px;
    color:#404040;
    font-size: 28px; 
    font-weight: lighter;
}
#content .second-content span {
    color: #7685AE;
}
#content .second-content .yellow-box {
    background-color: #F2D06B;
    color:white;
}
