doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='../css/reset.css')
    link(rel='stylesheet', type='text/css', href='../css/reset-ani.css')
    link(rel='stylesheet', type='text/css', href='../css/store.css')
    title 도전과제 목록
  body
    #nav
      a#Logo(href='/main')
        img#Logo-img(src='../img/logo.png')
      ul.Menu
        li.Menu-item
          a(href='/challenge') 도전과제
        li.Menu-item
          a(href='/rank') 랭킹
        li.Menu-item
          a.selected.tracking-in-expand(href='/pointshop') 포인트 상점
        li.Menu-item
          a(href='/MyPage') 마이페이지
      .Sign
        // 로그인, 회원가입 버튼
        button
            a(href='/Login') 로그인
        button
            a(href='/SignUp') 회원가입
    #content
      .center-content
        | 포인트 상점
      ul
        li
          .point-content
            img(src='img/coupon.png')
            br
            input(type='button', value='10포인트')
        li
          .point-content
            img(src='img/coupon.png')
            br
            input(type='button', value='30포인트')
        li
          .point-content
            img(src='img/coupon.png')
            br
            input(type='button', value='40포인트')
        li
          .point-content
            img(src='img/coupon.png')
            br
            input(type='button', value='120포인트')
        li
          .point-content
            img(src='img/coupon.png')
            br
            input(type='button', value='1000포인트')
        li
          .point-content
            img(src='img/coupon.png')
            br
            input(type='button', value='80포인트')
      // <br>
      .page-content
        a(href='#') 1
        |  
        a(href='#') 2
        |  |
        a(href='#') 3
        |  |
        a(href='#') 4
        |  |
        a(href='#') 5
